@media all and (min-width: 768px) and (max-width: 1024px){
    .product-info-item{
        margin: 0 20px;
    }
    .product-all-item {
        margin: 0 10px 50px 10px;
    }
    /*Help*/
    .help-sidebar{
        display: none;
    }
    .help-content{
        width: 100%;
    }
    .help-sidebar-mobile{
        display: block;
    }
    .help-sidebar{
        position: absolute;
        top: 40px;
        left: 0;
        width: 300px;
        padding: 20px;
        margin-top: 0;
    }
    /*Instructions*/
    .instructions-top{
        background-size: contain;
    }
    /*Partner*/
    .partner-earn-item{
        margin-bottom: 30px;
    }
    /*Smpt*/
    .smtp-benefit{
        width: 100%;
        max-width: 48%;
    }
    /*Home*/
    .home-features__list,
    .home-features__imgs{
        width: 49%;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .header-logo__text{
       display: none;
    }
    .header-menu__list-item{
        margin-right: 5px;
    }
    .product-about__col{
        padding: 0 15px;
    }
    .product-info-item{
        margin: 0 20px 30px 20px;
    }
    .footer-col{
        width: 160px;
    }
    .footer-col:last-child{
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }
    .footer-socials{
        display: inline-block;
        vertical-align: middle;
        width: 250px;
        margin-top: 0;
    }
    /*Help*/
    .help-top__icon, .help-top__heading{
        margin-right: 0;
    }
    /*Instructions*/
    .instructions-top{
        background-position: center 224px;
    }
    .contacts-form__b-txt,
    .contacts-form__b-inps{
        max-width: 48%;
    }
    /*Partner*/
    .partner-why-item{
        margin: 0 30px;
    }
    /*Feedbacks*/
    .feedbacks-form__rating-row{
        max-width: 48%;
    }
    /*Smpt*/
    .smtp-benefit,
    .smtp-benefit:nth-child(even){
        float: none;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .smtp-step__img{
        max-width: 360px;
    }
    /*Registration*/
    .registration__bg{
        width: 40%;
    }
    /*Price*/
    .prices-users,
    .prices-users__logos{
        text-align: center;
    }
    .prices-users__title{
        margin-bottom: 40px;
    }
    .prices-users-logo{
        margin: 10px 30px;
    }
    /*Basket*/
    .basket-table__col, .basket-table__col-1, .basket-table__col-2, .basket-table__col-3, .basket-table__col-4, .basket-table__col-5{
        padding: 0 15px;
    }
    /*Home*/
    .home-features__list, .home-features__imgs{
        float: none;
        width: 100%;
        margin: 30px auto 0 auto;
    }
    .home-tools__img,
    .home-tools__info{
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .home-tools__info{
        margin-top: 50px;
    }
    .home-befits__img,
    .home-befits__text{
        float: none;
    }
    .home-befits__text{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .home-befits__img img{
        margin-left: auto;
        margin-right: auto;
    }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait){}
@media all and (min-width: 320px) and (max-width: 767px){
    /*Home*/
    .home-top{
        padding: 50px 0;
    }
    .home-top__heading{
        font-size: 34px;
        line-height: 40px;
    }
    .home-features{
        text-align: center;
    }
    .home-features__imgs{
        float: none;
        height: 250px;
    }
    .home-features__list{
        float: none;
        margin-top: 30px;
    }
    .home-features-item__img{
        width: 100%;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .home-features-item__description{
        margin-left: 0;
    }
    .home-tools__img{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .home-tools{
        overflow: hidden;
        padding: 50px 0;
    }
    .home-tools__info{
        float: none;
    }
    .home-tools__img,
    .home-tools__img-spinner{
        width: 290px;
        height: 290px;
    }
    .home-tools__list{
        width: 100%;
        margin-top: 15px;
    }
    .home-client{
        margin: 0 0 46px 0;
    }
    .home-faqs{
        padding: 50px 0;
    }
    .home-befits__content{
        margin-top: 40px;
    }
    .home-befits__img{
        float: none;
        width: 100%;
        margin-top: 40px;
    }
    .home-befits__text{
        float: none;
    }
    .home-befits__img img{
        margin-left: auto;
        margin-right: auto;
    }
    .home-befits__title{
        min-height: auto;
    }
    .home-befits__slide{
        padding: 50px 0;
    }
    /*Partner*/
    .partner-why,
    .partner-earn{
        padding: 60px 0;
    }
    .partner-why-item,
    .partner-earn-item{
        max-width: 100%;
        margin: 0;
    }
    .partner-earn__items{
        margin: 20px 0 50px 0;
    }
    .partner-earn-item{
        margin-top: 30px;
        text-align: center;
    }
    .partner-earn__cta-numbers, .partner-earn__cta-text{
        text-align: center;
    }
    .partner-earn__cta-numbers{
        margin: 20px 0;
    }
    .partner-earn-item__icon{
        float: none;
        display: inline-block;
    }
    .partner-earn-item__arrow{
        display: none;
    }
    .partner-questions__inner,
    .partner-questions__image,
    .partner-questions__content{
        display: block;
    }
    .partner-questions__content{
        padding-left: 0;
    }
    /*Products-all*/
    .product-cta--prod-all{
        padding: 75px 0;
    }
    .product-all-block{
        padding-top: 75px;
    }
    .product-all-item{
        max-width: 100%;
        margin: 0 0 50px 0;
    }
    .product-all-item__icon{
        display: block;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .product-all-item__icon img{
        margin: 0 auto;
    }
    /*Products*/
    .product-info{
        padding-bottom: 40px;
    }
    .product-info-item{
        margin: 0 0 40px 0;
    }
    .product-info-item:last-child{
        margin: 0;
    }
    .product-about{
        padding: 60px 0;
    }
    .product-about__row{
        display: block;
    }
    .product-about__col{
        display: block;
        width: 100%;
    }
    .product-about__row-reverve {
        direction: ltr;
    }
    .product-about__row-reverve .product-about__description-inner{
        text-align: left;
    }
    .product-about__description{
        margin-top: 20px;
    }
    .product-cta__form-inp, .product-cta__form-btn{
        margin: 15px;
    }
    .product-cta-blue{
        padding: 50px 0;
    }
    .product-cta-blue__btn{
        margin: 34px 11px 0 11px;
    }
    .faqs{
        padding: 60px 0;
    }
    .faqs-item__title{
        padding: 0 20px;
        font-size: 18px;
        line-height: 22px;
    }
    .faqs-item__content{
        padding-left: 35px;
    }
    .other-products{
        padding: 60px 0;
    }
    .other-products-item{
        margin: 0 15px 30px 15px;
    }
    .other-products-item:last-child{
        margin: 0 15px;
    }
    /*Help*/
    .help-sidebar{
        display: none;
    }
    .help-content{
        width: 100%;
        padding: 0;
    }
    .help-sidebar-mobile{
        display: block;
    }
    .help-sidebar{
        position: absolute;
        top: 40px;
        left: 0;
        width: 300px;
        padding: 20px;
        margin-top: 0;
    }
    .help-products__item {
        margin: 0 10px 30px 10px;
    }
    .help-content ul,
    .help-content blockquote{
        margin-left: 0;
    }
    .help-top__icon{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .help-top__heading{
        width: 100%;
    }
    /*Footer*/
    .footer-col{
        width: 50%;
        margin: 0 0 30px 0;
        padding: 0 15px;
    }
    .footer-socials{
        margin-top: 38px;
    }
    .footer-socials__link{
        margin-right: 35px;
    }
    /*Header*/
    .header__inner{
        position: relative;
        padding: 24px 0;
    }
    .header__mobile-menu{
        display: block;
    }
    .header-navigation{
        display: none;
        float: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding-bottom: 15px;
        background-color: #fff;
        text-align: center;
        z-index: 99;
    }
    .header-menu{
        display: block;
        margin-bottom: 15px;
        text-align: left;
    }
    .header-menu__list-item{
        float: none;
        display: block;
        margin: 10px 0 0 0;
    }
    .header-menu__dropdown-arrow{
        float: right;
        margin-top: 7px;
    }
    .header-submenu__list{
        position: static;
    }
    /*Instructions*/
    .instructions-top{
        padding: 26px 0 100px 0;
        background-image: none;
    }
    .contacts-form__b-txt,
    .contacts-form__b-inps{
        max-width: 100%;
    }
    .contacts-form__b-txt{
        margin-bottom: 28px;
    }
    .contacts,
    .help-instructions{
        padding: 50px 0;
    }
    .instructions-modal{
        max-width: 320px;
        padding: 30px;
    }
    .instructions-modal__title{
        margin-top: 50px;
    }
    /*Documentation*/
    .documentation-link-small{
        font-size: 12px;
    }
    /*Support*/
    .support-form__submit{
        position: static;
        display: block;
        margin: 30px auto 0 auto;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    /*Updates*/
    .updates-item__top{
        padding: 15px;
    }
    .updates-item__top-general,
    .updates-item__top-additional{
        float: none;
    }
    .updates-item__top-additional{
        margin-top: 15px;
    }
    .updates-item__date{
        display: block;
        margin-top: 10px;
    }
    .updates-item__content{
        padding: 30px 15px 0 15px;
    }
    .updates-item-improvement{
        margin-bottom: 30px;
    }
    .updates-item-improvement__list{
        margin-left: 0;
    }
    /*feedbacks*/
    .feedbacks-slider{
        padding: 50px 0;
    }
    .feedbacks-slide__text{
        font-size: 20px;
        line-height: 26px;
    }
    .feedbacks-important{
        margin: 50px 0;
    }
    .feedbacks-important-item{
        margin: 0 0 30px 0;
    }
    .feedbacks-logos{
        margin-bottom: 50px;
    }
    .feedbacks-cta{
        margin: 50px 0;
    }
    .feedbacks-form{
        padding: 50px 0;
    }
    /*smtp*/
    .smtp-step__content{
        margin-top: 30px;
    }
    .smtp-step--reverse{
        text-align: left;
    }
    .smtp-step__arrow-one,
    .smtp-step__arrow-two{
        display: none;
    }
    .smtp-benefits{
        overflow: hidden;
    }
    /*blog*/
    .blog-post{
        margin: 50px 0 0 0;
    }
    .blog-post__title{
        min-height: auto;
    }
    .inp-blog-cta{
        margin-right: 0;
        margin-bottom: 30px;
    }
    /*blog-single*/
    .blog-single-content ul{
        margin-left: 0;
    }
    .blog-single-blockquote{
        margin-left: 0;
    }
    .blog-single-cridentials__title{
        display: block;
    }
    .blog-single-share,
    .blog-single-rating{
        margin-bottom: 30px;
    }
    .blog-single-rating__stars{
        margin-top: 5px;
        margin-left: 0;
    }
    .blog-single-share__items{
        margin-top: 8px;
    }
    .blog-single-share__item{
        margin-left: 0;
        margin-right: 20px;
    }
    .blog-single-author__img{
        margin-bottom: 15px;
    }
    /*faqs*/
    .faqs-page-main{
        margin: 60px 0;
    }
    .faqs-page-main-item{
        margin: 15px 0;
    }
    /*registration*/
    .registration{
        padding: 30px 15px;
    }
    .registration__bg{
        display: none;
    }
    .registration-last__top{
        height: 200px;
    }
    /*prices*/
    .prices{
        padding: 60px 0;
    }
    .prices-item{
        margin: 30px 0 0 0;
    }
    .prices-users{
        padding: 60px 0;
        text-align: center;
    }
    .prices-users-logo{
        margin: 10px 20px;
    }
    .prices-users__logos{
        text-align: center;
    }
    .prices-users__title{
        margin-bottom: 30px;
    }
    /*basket*/
    .basket{
        padding: 60px 0;
    }
    .basket-table__head{
        display: none;
    }
    .basket-table{
        display: block;
        padding: 0 15px;
    }
    .basket-table-item{
        text-align: center;
    }
    .basket-table__col-1, .basket-table__col-2, .basket-table__col-3, .basket-table__col-4, .basket-table__col-5{
        display: block;
        width: 100%;
        padding: 15px;
    }
    .basket-table__col-3{
        display: none;
    }
    .basket-table-item{
        border-top: none;
        border-bottom: 1px solid #B3C1F4;
    }
    .basket-table-item:last-child{
        border-bottom: none;
    }
    .basket-table-item__term{
        display: inline-block;
        text-align: left;
    }
    .basket-table__col-1 a{
        display: inline-block;
    }
    .basket-promocode{
        float: none;
        width: 100%;
    }
    .basket-total{
        float: none;
        margin-top: 20px;
        text-align: center;
    }
    .basket-question__text{
        max-width: 80%;
    }
    .basket-question{
        float: none;
        width: 100%;
    }
    .basket-bottom__right{
        float: none;
        margin: 30px auto 0 auto;
    }
    .basket-product,
    .basket-product__logo,
    .basket-product__action{
        display: block;
    }
    .basket-product{
        padding: 15px;
    }
    .basket-product__logo,
    .basket-product__link{
        margin: 0 auto;
    }
    .basket-product__description{
        margin: 15px 0;
        padding: 0;
    }
}