@media all and (min-width: 768px) and (max-width: 1024px){
    .product-info-item{
        margin: 0 20px;
    }
    .product-all-item {
        margin: 0 10px 50px 10px;
    }
    /*Help*/
    .help-sidebar{
        display: none;
    }
    .help-content{
        width: 100%;
    }
    .help-sidebar-mobile{
        display: block;
    }
    .help-sidebar{
        position: absolute;
        top: 40px;
        left: 0;
        width: 300px;
        padding: 20px;
        margin-top: 0;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .header-logo__text{
       display: none;
    }
    .header-menu__list-item{
        margin-right: 5px;
    }
    .product-about__col{
        padding: 0 15px;
    }
    .product-info-item{
        margin: 0 20px 30px 20px;
    }
    .footer-col{
        width: 160px;
    }
    .footer-col:last-child{
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }
    .footer-socials{
        display: inline-block;
        vertical-align: middle;
        width: 250px;
        margin-top: 0;
    }
    /*Help*/
    .help-top__icon, .help-top__heading{
        margin-right: 0;
    }
}
@media all and (min-width: 320px) and (max-width: 767px) and (orientation: portrait){}
@media all and (min-width: 320px) and (max-width: 767px){
    /*Products-all*/
    .product-cta--prod-all{
        padding: 75px 0;
    }
    .product-all-block{
        padding-top: 75px;
    }
    .product-all-item{
        max-width: 100%;
        margin: 0 0 50px 0;
    }
    .product-all-item__icon{
        display: block;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .product-all-item__icon img{
        margin: 0 auto;
    }
    /*Products*/
    .product-info{
        padding-bottom: 40px;
    }
    .product-info-item{
        margin: 0 0 40px 0;
    }
    .product-info-item:last-child{
        margin: 0;
    }
    .product-about{
        padding: 60px 0;
    }
    .product-about__row{
        display: block;
    }
    .product-about__col{
        display: block;
        width: 100%;
    }
    .product-about__row-reverve {
        direction: ltr;
    }
    .product-about__row-reverve .product-about__description-inner{
        text-align: left;
    }
    .product-about__description{
        margin-top: 20px;
    }
    .product-cta__form-inp, .product-cta__form-btn{
        margin: 15px;
    }
    .faqs{
        padding: 60px 0;
    }
    .faqs-item__title{
        padding: 0 20px;
        font-size: 18px;
        line-height: 22px;
    }
    .faqs-item__content{
        padding-left: 35px;
    }
    .other-products{
        padding: 60px 0;
    }
    .other-products-item{
        margin: 0 15px 30px 15px;
    }
    .other-products-item:last-child{
        margin: 0 15px;
    }
    /*Help*/
    .help-sidebar{
        display: none;
    }
    .help-content{
        width: 100%;
        padding: 0;
    }
    .help-sidebar-mobile{
        display: block;
    }
    .help-sidebar{
        position: absolute;
        top: 40px;
        left: 0;
        width: 300px;
        padding: 20px;
        margin-top: 0;
    }
    .help-products__item {
        margin: 0 10px 30px 10px;
    }
    .help-content ul,
    .help-content blockquote{
        margin-left: 0;
    }
    .help-top__icon{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .help-top__heading{
        width: 100%;
    }
    /*Footer*/
    .footer-col{
        width: 50%;
        margin: 0 0 30px 0;
        padding: 0 15px;
    }
    .footer-socials{
        margin-top: 38px;
    }
    .footer-socials__link{
        margin-right: 35px;
    }
    /*Header*/
    .header__inner{
        position: relative;
        padding: 24px 0;
    }
    .header__mobile-menu{
        display: block;
    }
    .header-navigation{
        display: none;
        float: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding-bottom: 15px;
        background-color: #fff;
        text-align: center;
        z-index: 99;
    }
    .header-menu{
        display: block;
        margin-bottom: 15px;
        text-align: left;
    }
    .header-menu__list-item{
        float: none;
        display: block;
        margin: 10px 0 0 0;
    }
    .header-menu__dropdown-arrow{
        float: right;
        margin-top: 7px;
    }
    .header-submenu__list{
        position: static;
    }
}