@font-face {
    font-family: 'DidactGothic-Regular';
    src: url('../fonts/DidactGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}
html, body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'DidactGothic-Regular', sans-serif;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*General*/
img{
    display: block;
    max-width: 100%;
    border: none;
}
a,
a svg,
a img,
button{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
a{
    text-decoration: none;
}
a, button, input, img, textarea{
    outline: none;
}
h1, h2, h3, h4, h5, h6, p, blockquote{
    margin: 0;
}
button{
    padding: 0;
    border: none;
    background-color: transparent;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
input[type="checkbox"],
input[type="file"],
input[type="radio"]{
    display: none;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-md{
    position: relative;
    width: 100%;
    max-width: 975px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-sm{
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 0 15px;
}
.clear:before,
.clear:after{
    content: "";
    display: table;
    clear: both;
}
.list ul,
.list ol{
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.list ul li{
    position: relative;
    padding-left: 10px;
}
.list ul li:before{
    content: "";
    width: 4px;
    height: 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #0052CC;
    position: absolute;
    top: 12px;
    left: 0;
}
.list ol{
    counter-reset: my-counter;
}
.list ol li{
    counter-increment: my-counter;
}
.list ol li:before{
    content: counter(my-counter) ". ";
    font-weight: 500;
    color: #1062AA;
}
.slick-slide{
    outline: none;
}
/*Header*/
.header__inner{
    padding: 24px 15px 22px 15px;
    background-color: #fff;
}
.header-logo{
    display: block;
    float: left;
}
.header-logo__icon,
.header-logo__text{
    display: inline-block;
    vertical-align: middle;
}
.header-logo__text{
    margin-left: 11px;
}
.header__mobile-menu{
    display: none;
    float: right;
    width: 30px;
    margin-top: 14px;
}
.header__mobile-menu span{
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: #0052CC;
}
.header-navigation{
    float: right;
    margin-top: 7px;
}
.header-menu,
.header-controls{
    display: inline-block;
    vertical-align: bottom;
}
.header-menu__list-item{
    position: relative;
    float: left;
    margin-right: 14px;
    padding: 0 15px;
}
.header-menu__link{
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #071146;
    border-bottom: 1px solid transparent;
}
.header-menu__list-item:hover .header-menu__link,
.header-menu__link_current{
    border-bottom: 1px solid #0052CC;
}
.header-menu__dropdown span{
    display: inline-block;
}
.header-menu__dropdown-arrow{
    width: 11px;
    height: 5px;
    margin-left: 9px;
    background: transparent url('../imgs/general/header/icon-dropdown.png') center center no-repeat;
}
.header-submenu__list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #071146;
    z-index: 999;
}
.header-menu__dropdown:hover .header-submenu__list{
    display: block;
}
.header-menu__dropdown:hover .header-menu__link{
    border-bottom: 1px solid transparent;
}
.header-submenu__list-item{
    margin-bottom: 10px;
}
.header-submenu__list-item:last-child{
    margin-bottom: 0;
}
.header-submenu__link{
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    color: #B1DEF5;
}
.header-submenu__link:hover{
    color: #ffffff;
}
.header-controls{
    padding-left: 11px;
}
.header-controls__enter,
.header-controls__register{
    display: inline-block;
    vertical-align: middle;
}
.header-controls__enter{
    margin-right: 26px;
    font-size: 14px;
    line-height: 18px;
    color: #0052CC;
}
/*Footer*/
.footer{
    padding: 54px 0 37px 0;
    background-color: #F2F2F2;
}
.footer__inner{
    margin: 0 -15px;
}
.footer-col{
    float: left;
    width: 165px;
    margin: 0 15px;
}
.footer-menu{
    font-size: 14px;
    line-height: 18px;
}
.footer-menu__title{
    color: #0052CC;
}
.footer-menu__list{
    margin-top: 20px;
}
.footer-menu__list-item{
    margin-bottom: 10px;
}
.footer-menu__link{
    color: #253858;
}
.footer-socials{
    width: 100%;
    margin-top: 68px;
    text-align: center;
}
.footer-socials__link{
    display: inline-block;
    height: 20px;
    margin-right: 39px;
    overflow: hidden;
}
.footer-socials__link:last-child{
    margin-right: 0;
}
.footer-socials__link img{
    height: 20px;
}
.footer-socials__link:hover img:first-child{
    margin-top: -20px;
}
.copyrights{
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #C4C4C4;
}
/*Other products component*/
.other-products{
    padding: 124px 0 128px 0;
    background-color: #0052CC;
}
.other-products__heading{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}
.other-products__items{
    margin-top: 50px;
    text-align: center;
}
.other-products-item{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 0 11px;
    text-align: center;
}
.other-products-item__img{
    display: inline-block;
    width: 56px;
    height: 50px;
    margin-bottom: 34px;
    overflow: hidden;
}
.other-products-item__img img{
    height: 50px;
    margin: 0 auto;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.other-products-item:hover .other-products-item__img img:first-child{
    margin-top: -50px;
}
.other-products-item__link{
    font-family: "Comfortaa-Regular",sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
.other-products-item__link:hover{
    text-decoration: underline;
}
/*Breadcrumbs component*/
.breadcrumbs{
    padding: 0 15px;
    text-align: left;
}
.breadcrumbs__item,
.breadcrumbs__link,
.breadcrumbs__arrow{
    display: inline-block;
}
.breadcrumbs__item{
    margin-right: 4px;
}
.breadcrumbs__link{
    font-size: 12px;
    line-height: 24px;
    color: #071146;
}
.breadcrumbs__arrow{
    width: 5px;
    height: 7px;
    margin-left: 4px;
    background: transparent url('../imgs/general/breadcrumbs-arrow.svg') center center no-repeat;
    background-size: contain;
}
/*--- Product Page ---*/
.product-info{
    padding-top: 19px;
    background-repeat: no-repeat;
}
.product-info__content-text{
    max-width: 600px;
    margin: 0 auto;
}
.product-info__content{
    margin-top: 50px;
    text-align: center;
}
.product-info__heading-1{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    color: #0052CC;
}
.product-info__heading-3{
    width: 100%;
    max-width: 750px;
    margin: 36px auto 48px auto;
}
.product-info__items{
    margin: 58px 0;
}
.product-info-item{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 287px;
    margin: 0 43px;
}
.product-info-item__img img{
    max-height: 96px;
    margin: 0 auto;
}
.product-info-item__title{
    margin-top: 34px;
    font-family: "Comfortaa-Bold",sans-serif;
    font-size: 21px;
    line-height: 23px;
    color: #071146;
}
.product-info-item__description{
    margin-top: 28px;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.product-info__triangle{
    position: relative;
    width: 100%;
    height: 0;
    margin-top: -1px;
    padding-bottom: 11.614%;
}
.product-info__triangle svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product-info__triangle svg path{
    width: 100%;
}
.product-about{
    padding: 126px 0 128px 0;
    overflow: hidden;
}
.product-about__heading{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.product-about__text{
    width: 100%;
    max-width: 505px;
    margin: 40px auto 0 auto;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #071146;
}
.product-about__row{
    display: table;
    width: 100%;
    margin-top: 56px;
}
.product-about__col{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.product-about__description{
    text-align: center;
}
.product-about__number{
    color: #0052CC;
}
.product-about__description-inner{
    display: inline-block;
    width: 100%;
    /*max-width: 360px;*/
    max-width: 370px;
    text-align: left;
}
.product-about__description-text{
    margin-top: 26px;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.product-about__row-reverve{
    direction: rtl;
}
.product-about__row-reverve > div{
    direction: ltr;
}
.product-about__row-reverve .product-about__description-inner{
    text-align: right;
}
.product-cta{
    text-align: center;
}
.product-cta__text{
    max-width: 555px;
    margin: 50px auto 0 auto;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.product-cta__form{
    margin-top: 55px;
    text-align: center;
}
.product-cta__form-inp{
    width: 262px;
}
.product-cta__form-inp,
.product-cta__form-btn{
    display: inline-block;
    vertical-align: top;
    margin: 0 11px;
}
.faqs{
    padding: 135px 0;
}
.faqs__heading{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.faqs__items{
    margin-top: 55px;
}
.faqs-item{
    padding: 29px 0;
    border-top: 1px solid #0052CC;
}
.faqs-item:last-child{
    border-bottom: 1px solid #0052CC;
}
.faqs-item__top{
    display: table;
    width: 100%;
    cursor: pointer;
}
.faqs-item__icon{
    display: table-cell;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: transparent url('../imgs/products/icon-faqs.svg') center center no-repeat;
}
.faqs-item__title{
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    line-height: 28px;
    padding: 0 28px;
    color: #0052CC;
}
.faqs-item__arrow{
    display: table-cell;
    vertical-align: middle;
    width: 23px;
    height: 5px;
    background: transparent url('../imgs/products/icon-faqs-dropdown.png') center center no-repeat;
    background-size: contain;
}
.faqs-item_opened .faqs-item__arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.faqs-item__content{
    display: none;
    margin: 14px 0 0 18px;
    padding-left: 45px;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
    border-left: 1px solid #B1DEF5;
}
.faqs-item_opened .faqs-item__content{
    display: block;
}
/*prod-all*/
.product-all-block{
    position: relative;
    padding-top: 275px;
}
.product-all__triangle{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 5;
}
.product-all__top{
    margin-bottom: 50px;
    text-align: center;
}
.product-all__icon,
.product-all__top-title{
    display: inline-block;
    vertical-align: middle;
}
.product-all__icon{
    margin-right: 26px;
}
.product-all__product-all-items{
    text-align: center;
}
.product-all-item{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 460px;
    margin: 0 43px 50px 43px;
    text-align: left;
}
.product-all-item__icon,
.product-all-item__content{
    display: inline-block;
    vertical-align: top;
}
.product-all-item__icon{
    max-width: 60px;
}
.product-all-item__content{
    float: right;
    width: 100%;
    max-width: 360px;
}
.product-all-item__title{
    margin-bottom: 25px;
}
.product-all-item__description{
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.product-all__bottom{
    text-align: center;
}
.product-all__more{
    display: inline-block;
    font-family: "Comfortaa-Bold",sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #0052CC;
}
.product-all__more span{
    display: inline-block;
    vertical-align: middle;
}
.product-all__more span:first-child{
    margin-right: 5px;
}
.product-cta--prod-all{
    padding: 275px 0 136px 0;
}
.product-all-block-main{
    padding-top: 86px;
}
.product-all-block-main__inner{
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}
.product-all-heading-1{
    margin-bottom: 42px;
}
.product-all-heading-1 span{
    display: block;
    color: #0052CC;
}
.product-all-block-main{
    background-repeat: no-repeat;
    background-position: calc(50% + 150px) 46px;
}
.product-all-block-main__text-1{
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 28px;
    color: #071146;
}
.product-all-block-main__text-2{
    margin-bottom: 103px;
    color: #0052CC;
}
.product-all-block-main__down{
    display: inline-block;
}
/*--- HELP ---*/
.help-top{
    padding: 25px 0 98px 0;
}
.help-top__title{
    margin-top: 76px;
    text-align: center;
}
.help-top__icon{
    margin-right: 30px;
}
.help-top__icon,
.help-top__heading{
    display: inline-block;
    vertical-align: middle;
}
.help-top__icon{
    margin-right: 35px;
}
.help-main{
    color: #071146;
}
.help-sidebar,
.help-content{
    float: left;
    padding: 0 15px;
}
.help-sidebar{
    width: 25%;
    margin-top: 60px;
    background-color: #fff;
}
.help-content{
    width: 75%;
    font-family: 'Open Sans', sans-serif;
}
.help-sidebar__form{
    position: relative;
}
.btn-help-sidebar{
    position: absolute;
    top: 50%;
    right: 14px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
}
.inp-help-sidebar{
    width: 100%;
    height: 30px;
    line-height: 28px;
    padding: 0 40px 0 13px;
    font-size: 14px;
    border: 1px solid #071146;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #071146;
}
.inp-help-sidebar.placeholder {
    color: #C4C4C4;
}
.inp-help-sidebar::-webkit-input-placeholder {
    color: #C4C4C4;
}
.inp-help-sidebar::-moz-placeholder {
    color: #C4C4C4;
}
.inp-help-sidebar:-ms-input-placeholder {
    color: #C4C4C4;
}
.inp-help-sidebar:-moz-placeholder {
    color: #C4C4C4;
}
.help-sidebar-menu{
    padding-top: 5px;
}
.help-sidebar-menu__item{
    margin-top: 30px;
}
.help-sidebar-menu__top{
    font-size: 14px;
    line-height: 18px;
    color: #071146;
    text-transform: uppercase;
    cursor: pointer;
}
.help-sidebar-menu__list{
    display: none;
}
.help-sidebar-menu__top-arrow{
    float: right;
    margin-top: 7px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.help-sidebar-menu__top_opened .help-sidebar-menu__top-arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.help-sidebar-menu__list{
    margin-top: 20px;
}
.help-sidebar-menu__list-item{
    position: relative;
    padding-left: 8px;
}
/*.help-sidebar-menu__list-item:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 11px;*/
/*    left: 0;*/
/*    width: 3px;*/
/*    height: 3px;*/
/*    -webkit-border-radius: 100%;*/
/*    -moz-border-radius: 100%;*/
/*    border-radius: 100%;*/
/*    background-color: #0052CC;*/
/*}*/
.help-sidebar-menu__list-link{
    font-size: 14px;
    line-height: 24px;
    color: #071146;
}
.help-sidebar-menu__list-link:hover,
.help-sidebar-menu__list-link_active{
    color: #0052CC;
}
.help-instructions{
    padding: 87px 0 66px 0;
}
.help-instructions__heading{
    text-align: center;
}
.help-products{
    margin: 50px auto 0 auto;
    text-align: center;
}
.help-products__item{
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    margin: 0 50px 60px 50px;
    font-family: 'Comfortaa-Regular',sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    color: #0052CC;
}
.help-products__item span{
    display: inline-block;
    vertical-align: middle;
}
.help-products__text{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    color: #0052CC;
}
.help-products__text:hover{
    text-decoration: underline;
}
.help-products__arrow{
    margin-top: 2px;
}
.help-sidebar-mobile{
    display: none;
    position: absolute;
    top: 15px;
    left: 30px;
}
.help-sidebar-mobile span{
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #0052CC;
}
.help-sidebar.help-sidebar_opened{
    display: block;
    z-index: 3;
}
/*--- INSTRUCTIONS ---*/
.instructions-top{
    padding: 26px 0 283px 0;
    background-image: url('../imgs/instructions/instructions-top.svg');
    background-repeat: no-repeat;
    background-position: center 174px;
}
.instructions-top__title{
    max-width: 750px;
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*Contacts Form*/
.contacts{
    padding: 126px 0 135px 0;
    background-color: #F6F8FD;
}
.contacts__inner{
    width: 100%;
    max-width: 954px;
    margin: 0 auto;
    padding: 0 15px;
}
.contacts__preform-text{
    margin-bottom: 61px;
    font-size: 18px;
    line-height: 28px;
    color: #071146;
}
.contacts-form__b-txt{
    float: left;
    width: 100%;
    max-width: 427px;
}
.contacts-form__b-inps{
    float: right;
    width: 100%;
    max-width: 360px;
}
.contacts-form__row{
    margin-bottom: 28px;
}
.contacts-form__row:last-child{
    margin-bottom: 0;
}
.label-contacts{
    display: inline-block;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 14px;
    color: #071146;
}
.txt-contacts-wrapper{
    position: relative;
}
.txt-contacts{
    display: block;
    width: 100%;
    height: 304px;
    padding: 19px 32px;
    border: 1px solid #B3C1F4;
    font-family: "DidactGothic-Regular",sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #071146;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none;
}
.txt-contacts:focus{
    border: 1px solid #0052CC;
}
.txt-contacts::-webkit-scrollbar {
    width: 4px;
}
.txt-contacts::-webkit-scrollbar-track {
    background-color: transparent;
}
.txt-contacts::-webkit-scrollbar-thumb {
    background-color: #B3C1F4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
/*textarea{*/
/*    scrollbar-base-color: #a12c2c;*/
/*    scrollbar-face-color: #2140c7;*/
/*    scrollbar-3dlight-color: #23c418;*/
/*    scrollbar-highlight-color: #41add9;*/
/*    scrollbar-track-color: #ff7000;*/
/*    scrollbar-arrow-color: #e020f5;*/
/*    scrollbar-shadow-color: #5918d5;*/
/*    scrollbar-dark-shadow-color: #47eebf;*/
/*}*/
.label-contacts-file{
    position: absolute;
    right: 12px;
    bottom: 11px;
    cursor: pointer;
}
.contacts-form__b-submit{
    float: left;
    margin-top: 61px;
}
.contacts-form__agree{
    font-size: 11px;
    line-height: 14px;
    color: #071146;
}
.contacts-form__agree a{
    color: #0052CC;
}
.contacts-form__agree a:hover{
    text-decoration: underline;
}
.instructions-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 610px;
    padding: 51px 62px 86px 62px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #B3C1F4;
    background: #fff url('../imgs/instructions/instructions-modal-bg.svg') top center no-repeat;
    background-size: contain;
}
.instructions-modal__close{
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
}
.instructions-modal__img img{
    margin: 0 auto;
}
.instructions-modal__title{
    margin-top: 118px;
    text-align: center;
}
/*--- DELETED ---*/
.deleted-top{
    padding: 30px 0 61px 0;
    text-align: center;
}
.deleted-top__title{
    margin-top: 80px;
}
.deleted-top__text{
    margin: 45px 0 61px 0;
    font-size: 18px;
    line-height: 28px;
    color: #071146;
}
.deleted-top__img img{
    margin: 0 auto;
}
/*--- PARTNER ---*/
.partner-top{
    padding-top: 30px;
    text-align: center;
}
.partner-top--float{
    background: transparent url('../imgs/partner/partner-top-bg-float.svg') center 60px no-repeat;
}
.partner-top__title{
    width: 100%;
    max-width: 682px;
    margin: 77px auto 48px auto;
    text-align: center;
}
.partner-top__title span{
    color: #0052CC;
}
.partner-top__subtitle{
    margin: 49px 0 131px 0;
    font-size: 18px;
    line-height: 28px;
    color: #071146;
}
.partner-top__img{
    margin: 0 auto;
}
.partner-why{
    padding: 124px 0 131px 0;
    background-color: #F6F8FD;
    color: #071146;
}
.partner-why__title{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.partner-why__items{
    margin-top: 18px;
    text-align: center;
}
.partner-why-item{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 287px;
    margin: 0 50px;
    text-align: center;
}
.partner-why-item__icon{
    display: inline-block;
    margin-top: 34px;
}
.partner-why-item__title{
    margin: 34px 0 26px 0;
}
.partner-why-item__description{
    font-size: 16px;
    line-height: 26px;
}
.partner-earn{
    padding: 124px 0 135px 0;
    color: #071146;
}
.partner-earn__title{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.partner-earn__items{
    margin: 52px 0 120px 0;
    text-align: center;
}
.partner-earn-item{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 268px;
    margin: 0 35px;
    text-align: left;
}
.partner-earn-item__icon{
    float: left;
}
.partner-earn-item__arrow{
    float: right;
    margin-top: 24px;
    padding-right: 15px;
}
.partner-earn-item__title{
    margin: 31px 0 24px 0;
}
.partner-earn-item__description{
    font-size: 16px;
    line-height: 26px;
}
.partner-earn__cta{
    text-align: center;
}
.partner-earn__cta-numbers,
.partner-earn__cta-text{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.partner-earn__cta-numbers{
    margin: 0 63px;
    font-family: "Comfortaa-Bold",sans-serif;
    font-size: 100px;
    line-height: 111px;
    color: #95E196;
}
.partner-earn__cta-text{
    width: 100%;
    max-width: 431px;
}
.partner-earn__cta-title{
    margin-bottom: 52px;
}
.partner-earn__cta-title span{
    color: #0052CC;
}
.partner-feedbacks{
    padding: 124px 0 135px 0;
    background-color: #F6F8FD;
    color: #071146;
}
.partner-feedbacks__title{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.partner-feedbacks__title span{
    color: #0052CC;
}
.partner-feedbacks-slider{
    margin-top: 52px;
}
.partner-feedbacks-slider-item{
    padding: 0 25px;
}
.partner-feedbacks-slider-item__avatar{
    width: 67px;
    height: 67px;
    margin: 0 15px;
    overflow: hidden;
}
.partner-feedbacks-slider-item__text{
    margin: 14px 0 16px 0;
    padding: 12px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 21px;
}
.partner-feedbacks-slider-item:hover .partner-feedbacks-slider-item__text{
    background-color: #fff;
}
.partner-feedbacks-slider-item__info{
    margin: 0 15px;
    font-size: 12px;
    line-height: 22px;
}
.partner-feedbacks-slider .slick-dots{
    margin-top: 41px;
    text-align: center;
}
.partner-feedbacks-slider .slick-dots li{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
}
.partner-feedbacks-slider .slick-dots button{
    display: block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #0052CC;
    font-size: 0;
    line-height: 0;
    color: transparent;
    cursor: pointer;
}
.partner-feedbacks-slider .slick-dots .slick-active button{
    background-color: #0052CC;
}
.partner-questions{
    padding: 60px 0;
}
[data-aos="partner-questions-anim"] {
    background-color: #fff;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
[data-aos="partner-questions-anim"].aos-animate {
    background-color: #95E196;
}
.partner-questions__text{
    margin: 45px 0 56px 0;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.partner-questions__inner{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.partner-questions__image,
.partner-questions__content{
    display: table-cell;
    vertical-align: middle;
}
.partner-questions__content{
    padding-left: 98px;
}
.partner-faqs{
    padding: 124px 0 131px 0;
}
.faqs-item__content ul{
    font-size: 16px;
    line-height: 26px;
}
.partner-reg{
    padding: 30px 0 218px 0;
    background-color: #F6F8FD;
    color: #071146;
}
.partner-reg__top{
    margin-top: 80px;
}
.partner-reg__heading{
    text-align: center;
}
.partner-reg__heading span{
    color: #0052CC;
}
.partner-reg__subheading{
    max-width: 750px;
    margin: 40px auto 26px auto;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.partner-reg-form{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
.partner-reg-form__log-reg{
    margin-top: 38px;
}
.partner-reg-form__enter{
    float: left;
    margin-top: 13px;
    font-size: 14px;
    line-height: 24px;
}
.partner-reg-form__enter a{
    color: #0052CC;
}
.partner-reg-form__enter a:hover{
    text-decoration: underline;
}
.partner-reg-form__register{
    float: right;
}
.documentation-top{
    position: relative;
    padding-top: 26px;
}
.documentation-top__title{
    padding-bottom: 109px;
}
.documentation-top__heading{
    max-width: 750px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.documentation-top__logo{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,50%);
    -moz-transform: translate(-50%,50%);
    -ms-transform: translate(-50%,50%);
    -o-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
}
.documentation{
    margin-top: 127px;
    margin-bottom: 131px;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #071146;
}
.documentation-img-resp{
    display: block;
    max-width: 100%;
    overflow: auto;
}
.documentation-img-resp img{
    max-width: 750px;
}

/*--- SUPPORT ---*/
.support-top{
    padding: 26px 0 238px 0;
    background: #B3C1F4 url('../imgs/support/support-top-bg.svg') center bottom no-repeat;
}
.support-top-h1{
    margin-top: 90px;
    text-align: center;
}
.support-form{
    position: relative;
    max-width: 750px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
}
.support-form__inp{
    border: 1px solid #0052CC;
}
.support-form__submit{
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.support-bottom{
    padding-top: 45px;
    padding-bottom: 120px;
}
.support-bottom__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.support-bottom-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    height: 136px;
    margin: 15px;
    padding: 40px;
    border: 1px solid #B3C1F4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 28px;
    color: #071146;
}
.support-bottom-item:hover{
    background-color: #0052CC;
    color: #FFFFFF;
}
.support-bottom-item__icon{
    margin-right: 50px;
}
.support-bottom-item__icon svg{
    stroke: #0052CC;
}
.support-bottom-item:hover .support-bottom-item__icon svg{
    stroke: #FFFFFF;
}
.support-bottom-item__text{
    width: 100%;
    max-width: 154px;
}
.support-result{
    padding-top: 60px;
}
.support-result__text{
    font-size: 14px;
    line-height: 24px;
    color: #071146;
}
.support-result__list{
    margin-bottom: 55px;
    padding-top: 5px;
}
.support-result-item{
    margin-top: 45px;
}
.support-result-item__title{
    font-size: 24px;
    line-height: 28px;
    color: #0052CC;
}
.support-result-item__text{
    margin-top: 26px;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.support-result-item__more{
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #0052CC;
}
.support-result-item__more-arrow{
    margin-left: 10px;
}
.support-result-pagination{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 135px;
}
.support-result-pagination__item{
    padding: 0 8px;
    font-size: 18px;
    line-height: 24px;
    color: #C4C4C4;
}
.support-result-pagination__item:hover,
.support-result-pagination__item_active{
    color: #0052CC;
}
.support-result-pagination__arrow{
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.support-result-pagination__arrow_disabled{
    cursor: default;
}
.support-result-pagination__arrow svg{
    fill: #0052CC;
}
.support-result-pagination__arrow_disabled svg{
    fill: #C4C4C4;
}

/*--- ERROR ---*/
.error-page{
    display: table;
    width: 100%;
    height: 100vh;
    padding: 15px;
}
.error-page__inner{
    display: table-cell;
    vertical-align: middle;
}
.error-page__text{
    margin: 26px 0 62px 0;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #071146;
}
.error-page__img img{
    margin-left: auto;
    margin-right: auto;
}
.error-page__btn{
    text-align: center;
}

/*--- CONTACTS ---*/
.contacts-page{
    padding: 26px 0 137px;
}
.contacts-page__h1{
    margin-top: 82px;
    text-align: center;
}
.contacts-page__items{
    text-align: center;
}
.contacts-page-item{
    display: inline-block;
    vertical-align: top;
    margin: 49px 61px 0 61px;
}
.contacts-page-item__img{
    margin-bottom: 30px;
}
.contacts-page-item__link{
    display: inline-block;
    margin-top: 31px;
    font-size: 16px;
    line-height: 21px;
    color: #0052CC;
}
.contacts-page-item__social{
    margin-top: 38px;
}
.contacts-page-item__social-item{
    display: inline-block;
    height: 17px;
    margin-right: 28px;
    overflow: hidden;
}
.contacts-page-item__social-item:last-child{
    margin-right: 0;
}
.contacts-page-item__social-item img{
    height: 17px;
}
.contacts-page-item__social-item:hover img:first-child{
    margin-top: -17px;
}