@font-face {
    font-family: 'DidactGothic-Regular';
    src: url('../fonts/DidactGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}
html, body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'DidactGothic-Regular', sans-serif;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*General*/
img{
    display: block;
    max-width: 100%;
    border: none;
}
a,
a svg,
a img,
button{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
a{
    text-decoration: none;
}
a, button, input, img{
    outline: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
button{
    padding: 0;
    border: none;
    background-color: transparent;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-md{
    width: 100%;
    max-width: 975px;
    margin: 0 auto;
    padding: 0 15px;
}
.clear:before,
.clear:after{
    content: "";
    display: table;
    clear: both;
}
/*Header*/
.header__inner{
    padding: 24px 15px 22px 15px;
    background-color: #fff;
}
.header-logo{
    display: block;
    float: left;
}
.header-logo__icon,
.header-logo__text{
    display: inline-block;
    vertical-align: middle;
}
.header-logo__text{
    margin-left: 11px;
}
.header__mobile-menu{
    display: none;
    float: right;
    width: 30px;
    margin-top: 14px;
}
.header__mobile-menu span{
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: #0052CC;
}
.header-navigation{
    float: right;
    margin-top: 7px;
}
.header-menu,
.header-controls{
    display: inline-block;
    vertical-align: bottom;
}
.header-menu__list-item{
    position: relative;
    float: left;
    margin-right: 14px;
    padding: 0 15px;
}
.header-menu__link{
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #071146;
    border-bottom: 1px solid transparent;
}
.header-menu__list-item:hover .header-menu__link,
.header-menu__link_current{
    border-bottom: 1px solid #0052CC;
}
.header-menu__dropdown span{
    display: inline-block;
}
.header-menu__dropdown-arrow{
    width: 11px;
    height: 5px;
    margin-left: 9px;
    background: transparent url('../imgs/general/header/icon-dropdown.png') center center no-repeat;
}
.header-submenu__list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #071146;
}
.header-menu__dropdown:hover .header-submenu__list{
    display: block;
}
.header-menu__dropdown:hover .header-menu__link{
    border-bottom: 1px solid transparent;
}
.header-submenu__list-item{
    margin-bottom: 10px;
}
.header-submenu__list-item:last-child{
    margin-bottom: 0;
}
.header-submenu__link{
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    color: #B1DEF5;
}
.header-submenu__link:hover{
    color: #ffffff;
}
.header-controls{
    padding-left: 11px;
}
.header-controls__enter,
.header-controls__register{
    display: inline-block;
    vertical-align: middle;
}
.header-controls__enter{
    margin-right: 26px;
    font-size: 14px;
    line-height: 18px;
    color: #0052CC;
}
/*Footer*/
.footer{
    padding: 54px 0 37px 0;
    background-color: #F2F2F2;
}
.footer__inner{
    margin: 0 -15px;
}
.footer-col{
    float: left;
    width: 165px;
    margin: 0 15px;
}
.footer-menu{
    font-size: 14px;
    line-height: 18px;
}
.footer-menu__title{
    color: #0052CC;
}
.footer-menu__list{
    margin-top: 20px;
}
.footer-menu__list-item{
    margin-bottom: 10px;
}
.footer-menu__link{
    color: #253858;
}
.footer-socials{
    width: 100%;
    margin-top: 68px;
    text-align: center;
}
.footer-socials__link{
    display: inline-block;
    height: 20px;
    margin-right: 39px;
    overflow: hidden;
}
.footer-socials__link:last-child{
    margin-right: 0;
}
.footer-socials__link img{
    height: 20px;
}
.footer-socials__link:hover img:first-child{
    margin-top: -20px;
}
.copyrights{
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #C4C4C4;
}
/*Other products component*/
.other-products{
    padding: 124px 0 128px 0;
    background-color: #0052CC;
}
.other-products__heading{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}
.other-products__items{
    margin-top: 50px;
    text-align: center;
}
.other-products-item{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin: 0 11px;
    text-align: center;
}
.other-products-item__img{
    display: inline-block;
    width: 56px;
    height: 50px;
    margin-bottom: 34px;
    overflow: hidden;
}
.other-products-item__img img{
    height: 50px;
    margin: 0 auto;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.other-products-item:hover .other-products-item__img img:first-child{
    margin-top: -50px;
}
.other-products-item__link{
    font-family: "Comfortaa-Regular",sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
.other-products-item__link:hover{
    text-decoration: underline;
}
/*Breadcrumbs component*/
.breadcrumbs{
    padding: 0 15px;
}
.breadcrumbs__item,
.breadcrumbs__link,
.breadcrumbs__arrow{
    display: inline-block;
}
.breadcrumbs__item{
    margin-right: 4px;
}
.breadcrumbs__link{
    font-size: 12px;
    line-height: 24px;
    color: #071146;
}
.breadcrumbs__arrow{
    width: 5px;
    height: 7px;
    margin-left: 4px;
    background: transparent url('../imgs/general/breadcrumbs-arrow.svg') center center no-repeat;
    background-size: contain;
}
/*--- Product Page ---*/
.product-info{
    padding-top: 19px;
    background-repeat: no-repeat;
}
.product-info__content{
    margin-top: 50px;
    text-align: center;
}
.product-info__heading-1{
    color: #0052CC;
}
.product-info__heading-3{
    margin: 36px 0 48px 0;
}
.product-info__items{
    margin: 58px 0;
}
.product-info-item{
    display: inline-block;
    width: 100%;
    max-width: 287px;
    margin: 0 43px;
}
.product-info-item__img img{
    max-height: 96px;
    margin: 0 auto;
}
.product-info-item__title{
    margin-top: 34px;
    font-family: "Comfortaa-Bold",sans-serif;
    font-size: 21px;
    line-height: 23px;
    color: #071146;
}
.product-info-item__description{
    margin-top: 28px;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.product-info__triangle{
    position: relative;
    width: 100%;
    height: 0;
    margin-top: -1px;
    padding-bottom: 11.614%;
}
.product-info__triangle svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product-info__triangle svg path{
    width: 100%;
}
.product-about{
    padding: 126px 0 128px 0;
}
.product-about__heading{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.product-about__row{
    display: table;
    width: 100%;
    margin-top: 56px;
}
.product-about__col{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.product-about__description{
    text-align: center;
}
.product-about__description-inner{
    display: inline-block;
    width: 100%;
    max-width: 360px;
    text-align: left;
}
.product-about__description-text{
    margin-top: 26px;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.product-about__row-reverve{
    direction: rtl;
}
.product-about__row-reverve > div{
    direction: ltr;
}
.product-about__row-reverve .product-about__description-inner{
    text-align: right;
}
.product-cta{
    text-align: center;
}
.product-cta__text{
    max-width: 555px;
    margin: 50px auto 0 auto;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
}
.product-cta__form{
    margin-top: 55px;
    text-align: center;
}
.product-cta__form-inp{
    width: 262px;
}
.product-cta__form-inp,
.product-cta__form-btn{
    display: inline-block;
    vertical-align: top;
    margin: 0 11px;
}
.faqs{
    padding: 135px 0;
}
.faqs__heading{
    text-align: center;
}
.faqs__items{
    margin-top: 55px;
}
.faqs-item{
    padding: 29px 0;
    border-top: 1px solid #0052CC;
}
.faqs-item:last-child{
    border-bottom: 1px solid #0052CC;
}
.faqs-item__top{
    display: table;
    width: 100%;
    cursor: pointer;
}
.faqs-item__icon{
    display: table-cell;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: transparent url('../imgs/products/icon-faqs.svg') center center no-repeat;
}
.faqs-item__title{
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    line-height: 28px;
    padding: 0 28px;
    color: #0052CC;
}
.faqs-item__arrow{
    display: table-cell;
    vertical-align: middle;
    width: 23px;
    height: 5px;
    background: transparent url('../imgs/products/icon-faqs-dropdown.png') center center no-repeat;
    background-size: contain;
}
.faqs-item_opened .faqs-item__arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.faqs-item__content{
    display: none;
    margin: 14px 0 0 18px;
    padding-left: 45px;
    font-size: 16px;
    line-height: 26px;
    color: #071146;
    border-left: 1px solid #B1DEF5;
}
.faqs-item_opened .faqs-item__content{
    display: block;
}