.clear:before,
.clear:after{
    content: "";
    display: table;
    clear: both;
}
.heading-bm-1{
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 48px;
    line-height: 54px;
    color: #071146;
}
.heading-bm-2{
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 36px;
    line-height: 40px;
    color: #071146;
}
.heading-bm-3,
.subtitle-s-1{
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 30px;
    line-height: 33px;
    color: #071146;
}
.heading-bm-4,
.subtitle-s-2{
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 24px;
    line-height: 27px;
    color: #071146;
}
.subtitle-s-3{
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 21px;
    line-height: 23px;
    color: #071146;
}
.label{
    display: inline-block;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 14px;
    color: #071146;
}
.inp{
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B3C1F4;
    font-family: "DidactGothic-Regular",sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #071146;
}
.inp:focus{
    border: 1px solid #0052CC;
}
.inp.error{
    border: 1px solid #FCAA90;
}
.inp.placeholder{
    color: #B3C1F4;
}
.inp::-webkit-input-placeholder {
    color: #B3C1F4;
}
.inp::-moz-placeholder {
    color: #B3C1F4;
}
.inp:-ms-input-placeholder {
    color: #B3C1F4;
}
.inp:-moz-placeholder {
    color: #B3C1F4;
}
.btn-double{
    position: relative;
    display: inline-block;
    width: 263px;
    height: 50px;
    line-height: 46px;
    padding: 0;
    font-size: 18px;
    text-align: center;
    overflow: visible;
    cursor: pointer;
    z-index: 999;
}
.btn-double__inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "DidactGothic-Regular",sans-serif;
    font-weight: 400;
    color: #0052CC;
    border: 2px solid #0052CC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 2;
}
.btn-double--onblue .btn-double__inner{
    border: 2px solid #FFFFFF;
    color: #071146;
}
.btn-double__arrow{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 8px;
}
.btn-double svg{
    display: block;
    fill: #0052CC;
}
.btn-double--onblue.btn-double svg{
    fill: #071146;
}
.btn-double:hover .btn-double__inner{
    background-color: transparent;
}
.btn-double:focus .btn-double__inner,
.btn-double:active .btn-double__inner{
    border: 2px solid #071146;
    background-color: transparent;
    color: #071146;
}
.btn-double:focus svg,
.btn-double:active svg{
    fill: #071146;
}
.btn-double__backdrop{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 263px;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FFCE22;
    z-index: 1;
}
.btn-double--cta .btn-double__inner{
    background-color: #FFCE22;
    border: 2px solid #FFCE22;
    color: #071146;
}
.btn-double--cta .btn-double__backdrop{
    background-color: #00A6FF;
}
.btn{
    display: inline-block;
    width: 165px;
    max-width: 100%;
    height: 40px;
    padding: 9px 0;
    border: 1px solid #0052CC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "DidactGothic-Regular",sans-serif;
    font-size: 14px;
    text-align: center;
    color: #0052CC;
    cursor: pointer;
}
.btn:hover{
    padding: 8px 0;
    border: 2px solid #0052CC;
    color: #0052CC;
}
.btn:focus{
    padding: 8px 0;
    background-color: #0052CC;
    border: 2px solid #0052CC;
    color: #ffffff;
}
.btn--dark{
    border: 1px solid #071146;
    color: #071146;
}
.btn span{
    display: inline-block;
}
.btn__arrow{
    width: 18px;
    height: 8px;
    background: transparent url('../imgs/general/btn-arrow.png') center center no-repeat;
}
.btn--dark .btn__arrow{
    background: transparent url('../imgs/general/btn-arrow-dark.png') center center no-repeat;
}
.btn--dark:hover .btn__arrow{
    background: transparent url('../imgs/general/btn-arrow.png') center center no-repeat;
}
.btn__arrow{
    margin-left: 13px;
}
.btn:focus .btn__arrow{
    background: transparent url('../imgs/general/btn-arrow-white.png') center center no-repeat;
}
.btn-submit{
    width: 190px;
    height: 50px;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    background-color: #0052CC;
}
.btn-submit:hover{
    background-color: #fff;
}
.btn-submit:focus{
    color: #ffffff;
    background-color: #0052CC;
}
.btn-submit:disabled{
    color: #B3C1F4;
    background-color: transparent;
    border: 2px solid #B3C1F4;
    cursor: default;
}
.btn-submit .btn__arrow{
    background: transparent url('../imgs/general/btn-arrow-white.png') center center no-repeat;
}
.btn-submit:hover .btn__arrow{
    background: transparent url('../imgs/general/btn-arrow.png') center center no-repeat;
}
.btn-submit:focus .btn__arrow{
    background: transparent url('../imgs/general/btn-arrow-white.png') center center no-repeat;
}
.btn-submit:disabled .btn__arrow{
    background: transparent url('../imgs/general/btn-arrow-disabled.png') center center no-repeat;
}
.label-radio{
    position: relative;
    display: inline-block;
    padding-left: 23px;
}
.label-radio:before,
.label-radio:after{
    content: "";
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.label-radio:before{
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border: 2px solid #B3C1F4;
}
.label-radio:after{
    display: none;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    background-color: #0052CC;
}
input[type="radio"]:checked + .label-radio:after,
input[type="checkbox"]:checked + .label-radio:after{
    display: block;
}
.password-inp{
    position: relative;
    width: 100%;
}
.password-inp .inp{
    appearance: none;
}
.password-inp .inp::-ms-clear, .password-inp .inp::-ms-reveal {
    display: none;
}
.password-inp__icon{
    position: absolute;
    top: 50%;
    right: 18px;
    margin-top: -7px;
    width: 23px;
    height: 13px;
    background: url("../imgs/general/password-close.svg") no-repeat center center;
    background-size: contain;
    z-index: 3;
    cursor: pointer;
}
.password-inp_show .password-inp__icon{
    background: url("../imgs/general/password-open.svg") no-repeat center center;
}
.label-switch{
    display: block;
    position: relative;
    width: 58px;
    height: 23px;
    background-color: #0052CC;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    cursor: pointer;
}
.label-switch:before{
    content: "";
    position: absolute;
    top: 0;
    left: 35px;
    width: 19px;
    height: 19px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #0052CC;
    background-color: #fff;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.inp-switch:checked + .label-switch:before{
    left: 0;
}
/*Select*/
.select{
    position: relative;
    width: 100%;
}
.select select{
    display: none;
}
.select-selected{
    width: 100%;
    height: 50px;
    line-height: 48px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B3C1F4;
    font-family: "DidactGothic-Regular",sans-serif;
    color: #0052CC;
    background-color: #fff;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 29px;
    width: 18px;
    height: 6px;
    margin-top: -3px;
    background: url("../imgs/general/select-arrow.svg") no-repeat center center;
    background-size: contain;
}
.select-selected.select-arrow-active:after {
    background: url("../imgs/general/select-arrow.svg") no-repeat right center;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select-items div, .select-selected{
    padding: 0 32px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}
.select-items div{
    height: 30px;
    margin: 8px 0;
    line-height: 30px;
    color: #071146;
}
.select-items div:first-child{
    margin-top: 5px;
}
.select-items div:last-child{
    margin-bottom: 0;
}
.select-items div.same-as-selected{
    background-color: #B3C1F4;
    cursor: default;
}
.select-items{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 7px;
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid #B3C1F4;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 99;
}
.select-hide{
    display: none;
}
.select-items div:not(.same-as-selected):hover{
    background-color: #B3C1F4;
}
/*Single article styles*/
.article h3{
    margin-top: 48px;
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 30px;
    line-height: 33px;
}
.article h4{
    margin-top: 48px;
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 24px;
    line-height: 27px;
}
.article p{
    margin: 24px 0 27px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.article p:first-child{
    margin-top: 0;
}
.article p:last-child{
    margin-bottom: 0;
}
.article h4 + ul,
.article p + ul{
    margin: 24px 0 27px 0;
}
.article ul,
.article ol{
    font-size: 18px;
    line-height: 28px;
}
.article ul > li{
    position: relative;
    padding-left: 10px;
}
.article ul > li:before{
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #0052CC;
}
.article ol{
    counter-reset: my-awesome-counter;
}
.article ol > li{
    counter-increment: my-awesome-counter;
}
.article ol >  li::before{
    content: counter(my-awesome-counter) ". ";
    color: #0052CC;
    font-weight: bold;
}
.article ul ol,
.article ul ul,
.article ol ul,
.article ol ol{
    margin-left: 34px;
}
.article a{
    color: #0052CC;
}
.article a:hover{
    text-decoration: underline;
}
.article blockquote{
    margin-top: 27px;
    margin-left: 34px;
}
.article blockquote > span:first-of-type{
    display: inline-block;
    padding: 0 8px;
    color: #FCAA90;
    border-left: 2px solid #FCAA90;
}
.article-figure{
    max-width: 750px;
    margin: 30px auto;
    text-align: center;
}
.article-figure__box{
    display: inline-block;
    border: 2px solid #071146;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}
.article-figure--video .article-figure__box{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.article-figure__box > *{
    display: block;
    max-width: 100%;
}
.article-figure__box iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.article-links-list{
    margin: 27px 0;
}
.article-links-list li{
    display: inline-block;
    margin-right: 75px;
}
/*slider dots start*/
.slick-dotted .slick-dots{
    margin-top: 41px;
    text-align: center;
}
.slick-dotted .slick-dots li{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
}
.slick-dotted .slick-dots button{
    display: block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #0052CC;
    font-size: 0;
    line-height: 0;
    color: transparent;
    cursor: pointer;
}
.slick-dotted .slick-dots .slick-active button{
    background-color: #0052CC;
}
/*slider dots end*/

@media all and (max-width: 767px){
    .heading-bm-1{
        font-size: 30px;
        line-height: 34px;
    }
    .heading-bm-2{
        font-size: 24px;
        line-height: 28px;
    }
    .heading-bm-3, .subtitle-s-1{
        font-size: 22px;
        line-height: 26px;
    }
    .article ul ol, .article ul ul, .article ol ul, .article ol ol{
        margin-left: 0;
    }
    .article ul > li{
        display: block;
    }
}